* {
    font-family: "Fira Sans", serif;
    /* font-weight: 300; */
    /* background-color: green; */
    /* background: #F5F5F5; */
    /* padding: 10px 50px; */
    margin: 10px 20px;
}

/* header style added */
.navContainer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.navContainer h1 {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

.navContainer button {
    border: 2px solid green;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    text-align: center;
    border-radius: 10px;
}

/* main section Idea style added */
.idea {
    background: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-radius: 20px;
    margin-bottom: 50px;
}

.idea h2 {
    color: rgba(14, 14, 14, 0.50);
    font-size: 20px;
    font-weight: 500;
}

.idea h1 {
    color: #0E0E0E;
    font-size: 42px;
    font-weight: 700;
}

.idea button {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: #006A50;
    padding: 17px 34px;
    border: none;
}

/* .idea .firstDiv {
    background-color: #C6E4D6;
} */
.visionFuture {
    color: #0E0E0E;
    font-size: 30px;
    font-weight: 700;
}

.innovationContainer {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    /* border: none; */
}

.paragraph {
    color: rgba(14, 14, 14, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    background-color: whi;
}

.cardIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.innovation {
    padding: 11px 20px;
    gap: 48px;
    border-radius: 8px;
    background: #5490F5;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.learnFirst {
    padding: 11px 20px;
    gap: 48px;
    border-radius: 8px;
    background: #09A15C;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;

}

.learnThird {
    padding: 11px 20px;
    gap: 48px;
    border-radius: 8px;
    background: #FFC239;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.digital {
    background: rgba(84, 144, 245, 0.20);
    padding: 10px;
    border: none;
}

.green {
    background: #C6E4D6;
    padding: 10px;
    border: none;
}

.building {
    border: none;
    background: #F7EBCF;
    padding: 10px;
}

.doctoreYunus {
    background-image: url('./images/quote-bg.png');
    background-repeat: no-repeat;

}

.backgroundQuote {
    padding: 10px 5px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 10px;
}

/* table style added */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #e8f5e9;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.donateBox{
    margin: 50px 0px;
}
#doneNow{
    padding: 17px 34px;
    gap: 48px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.10);
    background-color: #006A50;
}
select {
    padding: 8px;
    font-size: 14px;
}

.optionMatters {
    padding: 30px 0px;
}

.optionMatters h2 {
    padding-bottom: 10px;
}

/* satelite style added */
.satelite img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.satelite div img {
    width: 134px;
    height: 40px;
}

.satelite {
    margin: 50px;
    padding: 10px;
    background: rgb(229, 229, 229);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

/* donate style added */
.donate {
    text-align: center;
}

.donateTaka {
    text-align: center;
}

.donateTaka button {
    padding: 20px 40px;
    /* background-color: white; */
    border-radius: 10px;
    border: 2px solid rgb(192, 190, 190);
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
    gap: 24px;
    /* border: 1px solid rgba(14, 14, 14, 0.15); */
    background: #FFF;
}

#twoHundredTaka {
    background: #C6E4D6;
}

.donateTaka button:hover {
    cursor: pointer;
}

.donateTaka button:hover {
    background-color: rgb(180, 250, 250);
}

/* subscribe style added */
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: -20px;

}

/*  */
.subscription-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    width: 500px;
    max-width: 100%;
    /* border: 5px solid green; */
}

.subscription .subscription-container {
    margin: 0px auto;
}

.subscription-container input[type="email"] {
    flex: 1;
    border: none;
    /* padding: 15px 20px; */
    font-size: 16px;
    outline: none;
    color: #555;
}

.subscription-container button {
    background-color: #006400;
    color: #ffffff;
    border: none;
    margin-right: -1px;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.subscription-container button:hover {
    background-color: #004c2e;
}

.subscription {
    border-radius: 24px;
    background: #C6E4D6;
    /* width: 1280px; */
    padding: 80px 100px;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    /* gap: 64px; */
}

/* footer style added */
footer {
    text-align: center;
    padding: 50px 0px;
}
button:hover{
    background-color: rgb(131, 130, 129);
}